.achievements {
  padding-top: 100px;
  padding-bottom: 0px;
  background-color: var(--color-light);
}

.achievements__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  padding-bottom: 16px;
}
  
.achievements__paragraph {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  padding-bottom: 42px;
}
  
.achievements__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.achievements__card img {
  width: 362px !important;
  height: 488px;
  border-radius: 20px;
} 

.achievements__card h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

/* Карусель */
.achievements .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  left: 0;
}

.achievements .owl-prev, 
.achievements .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 24px; 
  color: var(--color-dark); 
  cursor: pointer;
  background: none !important;
}

.achievements .owl-prev {
  left: -50px; 
}

.achievements .owl-next {
  right: -50px; 
}


/* Адаптация */
@media (min-width: 1725px) and (max-width: 1790px) {
  .achievements .owl-prev {
    left: 5px; 
  }
    
  .achievements .owl-next {
    right: 10px !important; 
  }
}


@media (min-width: 1725px) {
  .achievements {
    padding-top: 120px;
  }
    
  .achievements__title {
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 20px;
  }
    
  .achievements__paragraph {
    font-size: 64px;
    font-weight: 600;
    line-height: 58px;
    padding-bottom: 54px;
  }

  .achievements__card h2 {
    font-size: 24px;
  }

  .achievements__card img {
    width: 562px !important;
    height: 688px;
    border-radius: 20px;
  } 
}


@media(max-width: 1350px) {
  .achievements .owl-prev {
    left: 0px; 
  }
    
  .achievements .owl-next {
    right: 15px; 
  }
}


@media (max-width: 1299px) {
  .achievements .owl-carousel-container {
      max-width: 1100px;
      padding: 0 19px;
  }

  .achievements .owl-prev {
    left: -40px; 
  }
    
  .achievements .owl-next {
    right: 100px; 
  }
}


@media(max-width: 1130px) {
  .achievements .owl-prev {
    left: 0px; 
  }
    
  .achievements .owl-next {
    right: 130px; 
  }
}


@media (max-width: 1100px) {
  .achievements .owl-carousel-container {
    max-width: 900px;
    padding: 0 19px;
  }

  .achievements .owl-prev {
    left: -40px; 
  }
    
  .achievements .owl-next {
    right: 450px; 
  }
}


@media (max-width: 930px) {
  .achievements .owl-prev {
    left: 0px; 
  }
    
  .achievements .owl-next {
    right: 490px; 
  }
}


@media (max-width: 900px) {
  .achievements {
    padding: 64px 0px;
}

  .achievements__title {
      font-size: 16px;
      padding-bottom: 8px;
  }

  .achievements__paragraph {
      font-size: 40px;
      padding-bottom: 42px;
  }
  .achievements .owl-carousel-container {
      max-width: 700px;
      padding: 0 19px;
  }

  .achievements .owl-prev {
    left: -40px; 
  }
    
  .achievements .owl-next {
    right: 250px; 
  }
}


@media (max-width: 730px) {
  .achievements .owl-prev {
    left: 0px; 
  }
    
  .achievements .owl-next {
    right: 270px; 
  }
}


@media (max-width: 740px) {
  .achievements {
    padding: 40px 0;
  }

  .achievements__title {
    font-size: 16px;
    line-height: 20px;
  }
  
  .achievements__paragraph {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }
 
  .achievements .owl-carousel-container {
    max-width: 500px;
    padding: 0 19px;
  }

  .achievements .owl-prev {
    left: -40px; 
  }
    
  .achievements .owl-next {
    right: 50px; 
  }
}


@media (max-width: 540px) {
  .achievements__card img {
    width: 280px !important;
    height: 380px !important;
    border-radius: 20px;
  } 

  .achievements .owl-carousel-container {
    max-width: 320px;
    padding: 0 19px;
  }

  .achievements .owl-prev {
    left: -40px; 
  }
    
  .achievements .owl-next {
    right: -40px; 
  }
}


@media (max-width: 350px) {
  .achievements .owl-prev {
    left: 0px; 
  }
    
  .achievements .owl-next {
    right: 5px; 
  }
}