.call__button {
    background: var(--accent); 
    border-radius: 50%; 
    height: 68px;
    width: 68px;
    position: fixed;
    right: 8%;
    bottom: 5%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease; 
    animation: pulse 1.5s infinite, waveShadow 1.5s infinite; 
}

.call__button.show {
    opacity: 1; 
    transform: translateY(0);
}

.call__button img {
    width: 35px; 
    height: 35px;
    object-fit: contain;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1);
    }
}

@keyframes waveShadow {
    0% {
        box-shadow: 0 8px 15px rgba(42, 148, 226, 0.4), 0 0 0 0 rgba(42, 148, 226, 0.2); 
    }
    50% {
        box-shadow: 0 8px 15px rgba(42, 148, 226, 0.4), 0 0 15px 10px rgba(42, 148, 226, 0.2);
    }
    100% {
        box-shadow: 0 8px 15px rgba(42, 148, 226, 0.4), 0 0 0 0 rgba(42, 148, 226, 0.2); 
    }
}



@media (min-width: 1725px) {
    .call__button {
        height: 78px;
        width: 78px;
    }

    .call__button img {
        width: 40px; 
        height: 40px;
    }
}

@media (max-width: 740px) {
    .call__button {
        display: none;
    }
}