.footer {
    padding: 100px 0; 
    background-color: var(--accent);
}

.footer__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    font-weight: 800;
    color: var(--color-light);
}

.footer__logo-img {
    width: 65px;
    height: 65px;   
}

.footer__divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 30%;
    margin: 56px 0;
}

.footer__menu {
    display: flex;
    align-items: center;
    gap: 56px;
}

.footer__menu a {
    color: var(--color-light);
}

.footer__information {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.footer__information-wrapper {
    display: flex;
    gap: 36px;
}

.footer__address p, .footer__contacts p {
    font-size: 18px;
    font-weight: 300;
    color: var(--color-light);
}

.footer__contacts a {
    color: var(--color-light);
}


@media (max-width: 1100px) {
    .footer {
        padding: 88px 0;
    }

    .footer__menu {
        gap: 48px;
    }

    .footer__divider {
        margin: 48px 0;
    }
}

@media (max-width: 900px) {
    .footer {
        padding: 64px 0; 
    }
    
    .footer__logo-img {
        width: 40px;
        height: 40px;
    }

    .footer__logo {
        gap: 8px;
        font-size: 16px;
    }

    .footer__menu {
        gap: 30px;
        font-size: 14px;
    }

    .footer__divider {
        margin: 40px 0;
    }

    .footer__information {
        padding-top: 0px;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    
    .footer__address p, .footer__contacts p {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .footer {
        padding: 56px 0;
    }

    .footer__logo {
        display: none;
    }

    .footer__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        gap: 16px; 
    }

    .footer__divider {
        margin: 16px 0;
    }

    .footer__information {
        align-items: flex-start;
    }

    .footer__information-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

@media (max-width: 540px) {
    .footer {
        padding: 40px 0; 
    }
}