.footer {
    padding: 100px 0; 
}

.footer__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    font-weight: 800;
    color: #FFFFFF;
}

.footer__logo-img {
    width: 65px;
    height: 65px;   
}

.footer__divider {
    border-bottom: 1px solid #ffffff;
    opacity: 30%;
    margin: 56px 0;
}

.footer__menu {
    display: flex;
    align-items: center;
    gap: 56px;
}

.footer__menu a {
    color: #FFFFFF;
}

.footer__menu a:hover {
    color: var(--accent);
}


.footer__information {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.footer__information-wrapper {
    display: flex;
    gap: 36px;
}

.footer__address p, .footer__contacts p {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

.footer__socials {
    display: flex;
    gap: 12px;
    align-items: center;
}

.footer__contacts a {
    color: #FFFFFF;
}

.footer__contacts a:hover {
    color: var(--accent);
}


@media (max-width: 900px) {
    .footer {
        padding: 64px 0; 
    }
    
    .footer__logo-img {
        width: 40px;
        height: 40px;
    }

    .footer__logo {
        gap: 8px;
        font-size: 16px;
    }

    .footer__menu {
        gap: 30px;
        font-size: 14px;
    }

    .footer__divider {
        margin: 40px 0;
    }

    .footer__information {
        padding-top: 0px;
    }
    
    .footer__information-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    
    .footer__address p, .footer__contacts p {
        font-size: 16px;
    }
    
    .footer__socials-icon {
        width: 45px;
        height: 48px;
    }
}

@media (max-width: 700px) {
    .footer__menu {
        display: none;
    }

    .footer__divider {
        margin: 16px 0;
    }

    .footer__information {
        align-items: flex-start;
    }

    .footer__address p, .footer__contacts p {
        font-size: 10px;
    }

    .footer__socials-icon {
        width: 25px;
        height: 28px;
    }
}

@media (max-width: 540px) {
    .footer {
        padding: 40px 0; 
    }
}