.header {
    margin-top: 24px;
    padding-bottom: 60px;
}

.header__navigation {
    background-color: #2A94E2;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 35px;
}

.header__menu {
    display: flex;
    gap: 24px;
}

.header__menu a {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.header__logo {
    display: flex;
    gap: 11px;
    align-items: center;
}

.header__logo p {
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    color: #FFFFFF;
    max-width: 116px;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 25px;

    position: relative;
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 0px;

    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.header__request {
    display: inline-block;
    padding: 8px 13px; 
    border: 1px solid #AFD7F4; 
    border-radius: 20px; 
    background-color: #FFFFFF; 

    text-decoration: none; 
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #010101; 
    
    box-shadow: 7px 4px 12px rgba(0, 0, 0, 0.25); 
    transition: 0.3s; 
}


.header__window {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 250px;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 12px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 100;
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__window.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header__window a {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.header__window p {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}

.header__window-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 28px;
    background: var(--accent);
    color: #FFFFFF !important;
    font-size: 10px !important; 
    font-weight: 400 !important; 
    line-height: 16px !important; 
    letter-spacing: 0.5px !important;
    padding: 15px 7px;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}


.header__services {
    position: relative;
}

.header__services-window {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px 11px;
    border-radius: 4px;
    display: none;
    flex-direction: column;
    z-index: 10;
    min-width: 225px;
}

.header__services-window a {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    padding: 4px;
}

.header__services-window a:hover {
    background: #f5f5f5;
}

.header__services:hover .header__services-window {
    display: flex;
}

@media (max-width: 1299px) {
    .header {
        padding-bottom: 40px;
    }
  }


@media (max-width: 1100px) {
    .header__menu {
        gap: 16px;
    }
    
    .header__menu a {
        font-size: 10px;
    }

    .header__logo {
        gap: 4px;
    }

    .header__logo img {
        width: 32px;
        height: 35px;
    }
    
    .header__logo p {
        font-size: 8px;
        max-width: 100px;
    }

    .header__phone {    
        font-size: 10px;
    }

    .header__phone img {
        width: 16px;
    }

    .header__request {
        padding: 6px 11px; 
        font-size: 10px;
    }
}

@media (max-width: 900px) {
    .header__request {
        display: none;
    }
}

@media (max-width: 700px) {
    .header {
        padding-bottom: 24px;
    }

    .header__navigation {
        flex-direction: row-reverse; 
    }

    .header__contacts {
        display: none;
    }
    .header__navigation {
        padding: 8px 24px;
    }

    .header__menu {
        gap: 8px;
    }
    
    .header__menu a {
        font-size: 10px;
    }
}

@media (max-width: 540px) {
    .header__navigation {
        width: 320px;
        background-color: var(--main-color);
        border-radius: 0;

        padding: 8px 35px;
    }
}