.projects {
  padding: 100px 0px;
  background-color: var(--color-light);
}

.projects__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  padding-bottom: 16px;
}

.projects__paragraph {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  padding-bottom: 42px;
}

.projects__card {
  position: relative;
  width: 600px;
  height: 478px;
  border-radius: 8px;
  overflow: hidden; 
}

.projects__card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden; 
}

.projects__card-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 427px;
}

.projects__card-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 120%;
  color: var(--color-light);
  margin-bottom: 15px;
}

.projects__card-paragraph {
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
  color: var(--color-light);
}

/* Скрытый контент карточки */
.projects__card-hidden {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  background: rgba(0, 0, 0, 0.55); 
  color: var(--color-light);
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projects__card:hover .projects__card-content {
  opacity: 0;
  visibility: hidden;
}

.projects__card:hover .projects__card-hidden {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.projects__card-hidden-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 120%;
  color: var(--color-light);
}

.projects__card-hidden-text1 {
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
  color: var(--color-light);
  max-width: 330px;
}

.projects__card-hidden-text2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  color: #D4D4D4;

  max-width: 490px;
}

/* Карусель */
.projects .owl-prev {
  left: -40px; 
}
  
.projects .owl-next {
  right: -26px; 
}



@media (min-width: 1725px) and (max-width: 1765px) {
  .projects .owl-prev {
    left: 5px; 
  }
    
  .projects .owl-next {
    right: 10px !important; 
  }
}


@media (min-width: 1725px) {
  .projects {
    padding: 120px 0px;
  }

  .projects__title {
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 20px;
  }
  
  .projects__paragraph {
    font-size: 64px;
    font-weight: 600;
    line-height: 58px;
    padding-bottom: 54px;
  }
  
  .projects__card {
    width: 832px;
    height: 626px;
  }

  .projects__card-content {
    bottom: 40px;
    left: 40px;
    max-width: 743px;
  }
  
  .projects__card-title {
    font-size: 48px;
    margin-bottom: 18px;
  }
  
  .projects__card-paragraph {
    font-size: 32px;
  }

  .projects__card-hidden {
    padding: 40px;
    gap: 18px;
  }

  .projects__card-hidden-title {
    font-size: 48px;
  }
  
  .projects__card-hidden-text1 {
    font-size: 32px;
    max-width: 592px;
  }
  
  .projects__card-hidden-text2 {
    font-size: 20px;
    max-width: 740px;
  }
      
  .projects .owl-next {
    right: -40px; 
  }
}


@media(max-width: 1330px) {
  .projects .owl-prev {
    left: 0px; 
  }
    
  .projects .owl-next {
    right: 25px; 
  }
}


@media (max-width: 1299px) {
  .projects .owl-carousel-container {
      max-width: 1100px;
      padding: 0 19px;
  }

  .projects .owl-prev {
    left: -40px; 
  }
    
  .projects .owl-next {
    right: 420px; 
  }
}


@media (max-width: 1130px) {
  .projects .owl-prev {
    left: 0px; 
  }
    
  .projects .owl-next {
    right: 465px; 
  }
}


@media (max-width: 1100px) {
  .projects .owl-carousel-container {
    max-width: 900px;
    padding: 0 19px;
  }

  .projects .owl-prev {
    left: -40px; 
  }
    
  .projects .owl-next {
    right: 220px; 
  }
}


@media (max-width: 930px) {
  .projects .owl-prev {
    left: 0px; 
  }
    
  .projects .owl-next {
    right: 265px; 
  }
}


@media (max-width: 900px) {
  .projects {
    padding: 64px 0px;
}

  .projects__title {
      font-size: 16px;
      padding-bottom: 8px;
  }

  .projects__paragraph {
      font-size: 40px;
      padding-bottom: 42px;
  }
  .projects .owl-carousel-container {
      max-width: 700px;
      padding: 0 19px;
  }

  .projects .owl-prev {
    left: -40px; 
  }
    
  .projects .owl-next {
    right: 20px; 
  }
}


@media (max-width: 730px) {
  .projects .owl-prev {
    left: 0px; 
  }
    
  .projects .owl-next {
    right: 65px; 
  }
}


@media (max-width: 740px) {
  .projects {
    padding: 40px 0;
  }

  .projects__title {
    font-size: 16px;
    line-height: 20px;
  }
  
  .projects__paragraph {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }

  .projects__card {
    width: 450px;
    height: 350px;
    border-radius: 8px;
  }
  
  .projects .owl-carousel-container {
    max-width: 500px;
    padding: 0 19px;
  }

  .projects .owl-prev {
    left: -40px; 
  }
    
  .projects .owl-next {
    right: -30px; 
  }

  .projects__card-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .projects__card-paragraph {
    font-size: 16px;
  }

  .projects__card-hidden {
    gap: 12px;
  }

  .projects__card-hidden-title {
    font-size: 24px;
  }

  .projects__card-hidden-text1 {
    font-size: 16px;
  }

  .projects__card-hidden-text2 {
    font-size: 14px;
  }
}


@media (max-width: 540px) {
  .projects .owl-carousel-container {
    max-width: 320px;
    padding: 0 19px;
  }

  .projects__card {
    width: 238px;
    height: 295px;
    border-radius: 20px;
  }

  .projects__card-content {
    bottom: 20px;
    left: 20px;
    max-width: 200px;
  }
  
  .projects__card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .projects__card-paragraph {
    font-size: 14px;
  }
  
  .projects__card-hidden {
    padding: 20px;
    gap: 12px;
  }
  
  .projects__card-hidden-title {
    font-size: 24px;
  }
  
  .projects__card-hidden-text1 {
    font-size: 14px;
    max-width: 200px;
  }
  
  .projects__card-hidden-text2 {
    font-size: 12px;
    max-width: 200px;
  }
  
  .projects .owl-prev {
    left: -40px; 
  }
    
  .projects .owl-next {
    right: -5px; 
  }
}


@media (max-width: 350px) {
  .projects .owl-prev {
    left: 0px; 
  }
    
  .projects .owl-next {
    right: 30px; 
  }
}