.request {
    background-color: #FFFFFF;
    padding: 100px 0; 
}

.request__container {
    max-width: 1256px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--main-color);
    padding: 70px 100px;
    display: flex;
    gap: 44px;
    align-items: center;
}

.request__title {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 58px;
    font-weight: 600;
    padding-bottom: 32px;
    width: 500px;
}

.request__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.request__form-input {
    width: 412px;
	font-size: 20px;
	padding: 20px 12px;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
}

.request__form-input--comment::placeholder, .request__form-input--tel::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #C6C6C6;
}

.request__form-button {
    width: 412px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #232536;
    background-color: var(--accent);
	padding: 25px 118px;
    border: none;
	border-radius: 20px;
}

.request__form-button:hover {
    background-color: #FFCA9E;
}

.request__images {
    display: flex;
    gap: 9px;
    height: 379px;
    width: 100%;
}

.request__images-column {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.request__images-first {
    width: 240px;
    height: 180px;
}

.request__images-second {
    width: 236px;
    height: 179px;
}

.request__images-third {
    width: 256px;
    height: 379px;
}

.request__images-adaptation {
    display: none;
}

.error {
    margin-top: -15px;
}



@media (max-width: 1299px) {
    .request__container {
        max-width: 1100px;
        gap: 20px;
    }

    .request__images {
        display: none;
    }

    .request__images-adaptation {
        display: block;
    }
}


@media (max-width: 1100px) {
    .request__container {
        max-width: 900px;
    }

    .request__images {
        display: none;
    }

    .request__images-adaptation {
        display: none;
    }

    .request__title {
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 24px;
    }

    .request__form {
        gap: 16px;
    }
    
    .request__form-input {
        font-size: 16px;
        padding: 16px 8px;
    }
    
    .request__form-input--tel::placeholder {
        font-size: 16px;
    }
    
    .request__form-input--comment::placeholder {
        font-size: 16px;
    }
    
    .request__form-button {
        font-size: 16px;
        padding: 20px 110px;
    }
}

@media (max-width: 900px) {
    .request {
        padding: 64px 0; 
    }

    .request__container {
        max-width: 700px;
        padding: 56px 100px;
    }

    .request__title {
        font-size: 36px;
        padding-bottom: 32px;
    }
}

@media (max-width: 700px) {
    .request__container {
        max-width: none;
        width: 100%;
        border-radius: 0;
        background-color: #FFFFFF;
        padding: 0px; 
        align-items: flex-start;
    }

    .request__title {
        font-size: 32px;
        line-height: 40px;
        color: var(--main-color);
        padding-bottom: 32px;
    }

    .request__form-input {
        padding: 16px 12px;
        border: 1px solid rgba(35, 37, 54, 0.5);
        color: var(--main-color);
    }
    
    .request__form-input--comment::placeholder, .request__form-input--tel::placeholder {
        color: rgba(35, 37, 54, 0.5);
    }
    
    .request__form-button {
        padding: 20px 118px;
    }

    .error {
       color: var(--main-color);
    }
}

@media (max-width: 540px) {
    .request {
        padding: 40px 0; 
    }

    .request__title {
        font-size: 24px;
        line-height: 24px;
        width: 290px;
    }

    .request__form {
        gap: 16px;
    }
    
    .request__form-input {
        width: 290px;
        font-size: 16px;
        line-height: 16px;
        padding: 14px 12px;
    }
    
    .request__form-input--comment::placeholder, .request__form-input--tel::placeholder {
        font-size: 16px;
        line-height: 16px;
    }
    
    .request__form-button {
        width: 290px;
        font-size: 16px;
        padding: 14px 70px;
    }
}