.request {
    padding: 100px 0px;
    background-color: var(--color-light);
}

.request__container {
    max-width: 1256px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--main-color);
    padding: 70px 100px;
    display: flex;
    gap: 44px;
    align-items: center;
}

.request__title {
    font-size: 40px;
    line-height: 58px;
    font-weight: 600;
    padding-bottom: 32px;
    width: 500px;
}

.request__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.request__form-input {
    width: 412px;
	font-size: 20px;
	padding: 20px 12px;
	border: 1px solid #9C9C9C;
	border-radius: 20px;
}

.request__form-input--comment::placeholder, .request__form-input--tel::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #979797;
}

.request__form-button {
    width: 412px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: var(--accent);
	padding: 25px 118px;
    border: none;
	border-radius: 20px;
}

.request__images {
    display: flex;
    gap: 9px;
    height: 379px;
    width: 100%;
}

.request__images-column {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.request__images-first {
    width: 240px;
    height: 180px;
}

.request__images-second {
    width: 236px;
    height: 179px;
}

.request__images-third {
    width: 256px;
    height: 379px;
}

.request__images-adaptation {
    display: none;
}

.validate_error {
    margin-top: -15px;
}



@media (min-width: 1725px) {
    .request {
        padding: 120px 0px;
    }

    .request__container {
        max-width: 1725px;
        padding: 80px 110px;
        gap: 140px;
    }

    .request__title {
        font-size: 56px;
        line-height: 125%;
        padding-bottom: 32px;
        width: 700px;
    }

    .request__form {
        gap: 32px;
    }
    
    .request__form-input {
        width: 500px;
        font-size: 24px;
        padding: 24px 16px;
    }
    
    .request__form-input--comment::placeholder, .request__form-input--tel::placeholder {
        font-size: 24px;
    }

    .request__form-button {
        width: 500px;
        font-size: 24px;
        line-height: 24px;
        padding: 32px 125px;
    }

    .request__images {
        gap: 16px;
        height: 450px;
    }
    
    .request__images-column {
        gap: 24px;
    }

    .request__images-first {
        width: 280px;
        height: 230px;
    }
    
    .request__images-second {
        width: 286px;
        height: 229px;
    }
    
    .request__images-third {
        width: 300px;
        height: 455px;
    } 
}


@media (max-width: 1299px) {
    .request__container {
        max-width: 1100px;
        gap: 20px;
    }

    .request__images {
        display: none;
    }

    .request__images-adaptation {
        display: block;
    }
}


@media (max-width: 1100px) {
    .request__container {
        max-width: 900px;
    }

    .request__images {
        display: none;
    }

    .request__images-adaptation {
        display: none;
    }

    .request__title {
        font-size: 36px;
        line-height: 40px;
        padding-bottom: 24px;
    }

    .request__form {
        gap: 16px;
    }
    
    .request__form-input {
        font-size: 16px;
        padding: 16px 8px;
    }
    
    .request__form-input--tel::placeholder {
        font-size: 16px;
    }
    
    .request__form-input--comment::placeholder {
        font-size: 16px;
    }
    
    .request__form-button {
        font-size: 16px;
        padding: 20px 110px;
    }

    .validate_error {
        margin-top: -10px;
        font-size: 14px;
    }
}


@media (max-width: 900px) {
    .request {
        padding: 64px 0; 
    }

    .request__container {
        max-width: 700px;
        padding: 56px 100px;
    }

    .request__title {
        font-size: 36px;
        padding-bottom: 32px;
    }
}


@media (max-width: 740px) {
    .request__container {
        max-width: none;
        width: 100%;
        border-radius: 0;
        background-color: #FFFFFF;
        padding: 0px; 
        align-items: flex-start;
    }

    .request__title {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 32px;
        max-width: 400px;
    }

    .request__form-input {
        padding: 16px 12px;
        border: 1px solid rgba(35, 37, 54, 0.5);
        color: var(--color-dark);
    }
    
    .request__form-input--comment::placeholder, .request__form-input--tel::placeholder {
        color: rgba(35, 37, 54, 0.5);
    }
    
    .request__form-button {
        padding: 20px 118px;
    }

    .validate_error {
        margin-top: -15px;
        color: #D53032;
        font-weight: 500;
    }
}


@media (max-width: 540px) {
    .request {
        padding: 40px 0; 
    }

    .request__title {
        font-size: 24px;
        line-height: 24px;
        width: 290px;
    }

    .request__form {
        gap: 16px;
    }
    
    .request__form-input {
        width: 290px;
        font-size: 16px;
        line-height: 16px;
        padding: 14px 12px;
    }
    
    .request__form-input--comment::placeholder, .request__form-input--tel::placeholder {
        font-size: 16px;
        line-height: 16px;
    }
    
    .request__form-button {
        width: 290px;
        font-size: 16px;
        padding: 14px 70px;
    }
    
    .validate_error {
        margin-top: -10px;
        font-size: 12px;
        line-height: 12px;
    }
}