.services {
  padding-top: 100px;
  padding-bottom: 0px;
  background-color: var(--color-light);
}
  
.services__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  padding-bottom: 16px;
}
  
.services__paragraph {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  padding-bottom: 42px;
}

.services__card {
  position: relative;
  width: 390px;
  height: 470px;
  border-radius: 20px;
  overflow: hidden; 
}
  
.services__card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden; 
}
  
.services__card-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 269px;
}
  
.services__card-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 125%;
  color: var(--color-light);
  margin-bottom: 15px;
}
  
.services__card-paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 125%;
  color: var(--color-light);
}

/* Скрытый контент карточки */
.services__card-hidden {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  background: rgba(0, 0, 0, 0.55); 
  color: var(--color-light);
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 30px;
}

.services__card:hover .services__card-content {
  opacity: 0;
  visibility: hidden;
}
  
.services__card:hover .services__card-hidden {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
  
.services__card-hidden-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
  color: var(--color-light);
}
  
.services__card-hidden-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
  color: var(--color-light);
  max-width: 390px;
}

/* Карусель */
.owl-carousel-container {
  position: relative;
  max-width: 1290px;
  padding: 0 19px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
  
.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
  
.owl-prev, .owl-next {
  position: absolute;
  top: -48px;  
  padding: 10px;
  color: var(--color-ligth);
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
  
.services .owl-prev {
  left: -40px; 
}
  
.services .owl-next {
  right: -40px; 
}

.owl-prev:hover, .owl-next:hover {
  background: none !important;
}

.header__adaptation-request {
  display: none;
}



@media (min-width: 1725px) and (max-width: 1765px) {
  .services .owl-prev {
    left: 5px; 
  }
    
  .services .owl-next {
    right: 15px; 
  }
}


@media (min-width: 1725px) {
  .services {
    padding-top: 120px;
  }

  .services__title {
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 20px;
  }
    
  .services__paragraph {
    font-size: 64px;
    font-weight: 600;
    line-height: 58px;
    padding-bottom: 54px;
  }
    
  .services__card {
    width: 530px;
    height: 600px;
  }

  .services__card-content {
    bottom: 40px;
    left: 40px;
    max-width: 430px;
  }
    
  .services__card-title {
    font-size: 48px;
    margin-bottom: 15px;
  }
    
  .services__card-paragraph {
    font-size: 24px;
  }

  .services__card-hidden {
    gap: 20px;
    padding: 30px;
  }

  .services__card-hidden-title {
    font-size: 36px;
  }
    
  .services__card-hidden-text {
    font-size: 20px;
    max-width: 469px;
  }

  .owl-carousel-container {
    max-width: 1725px;
  }
}


@media (max-width: 1330px) {
  .services .owl-prev {
    left: 0px; 
  }
    
  .services .owl-next {
    right: 15px; 
  }
}


@media (max-width: 1299px) {
  .services__card {
    width: 330px;
    height: 420px;
  }

  .services__card-content {
    max-width: 250px;
  }

  .services__card-title {
    margin-bottom: 10px;
  }

  .services .owl-carousel-container {
      max-width: 1100px;
      padding: 0 19px;
  }

  .services .owl-prev {
    left: -40px; 
  }
    
  .services .owl-next {
    right: -40px; 
  }

  .services__card-hidden-title {
    display: none;
  }
    
  .services__card-hidden-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    color: var(--color-light);
    max-width: 390px;
  }
}


@media(max-width: 1130px) {
  .services .owl-prev {
    left: 0px; 
  }
    
  .services .owl-next {
    right: 10px; 
  }
}


@media (max-width: 1100px) {
  .services__card {
    width: 390px;
    height: 470px;
  }

  .services__card-content {
    max-width: 276px;
  }
    
  .services__card-title {
    margin-bottom: 15px;
  }

  .services .owl-carousel-container {
    max-width: 900px;
    padding: 0 19px;
  }

  .services .owl-prev {
    left: -40px; 
  }
    
  .services .owl-next {
    right: -20px; 
  }

  .services__card-hidden-title {
    display: block;
  }
}


@media (max-width: 930px) {
  .services .owl-prev {
    left: 0px; 
  }
    
  .services .owl-next {
    right: 20px; 
  }
}


@media (max-width: 900px) {
  .services {
    padding: 64px 0px;
}

  .services__title {
      font-size: 16px;
      padding-bottom: 8px;
  }

  .services__paragraph {
      font-size: 40px;
      padding-bottom: 42px;
  }
  .services .owl-carousel-container {
      max-width: 700px;
      padding: 0 19px;
  }

  .services .owl-prev {
    left: -40px; 
  }
    
  .services .owl-next {
    right: 235px; 
  }
}


@media (max-width: 730px) {
  .services .owl-prev {
    left: 0px; 
  }
    
  .services .owl-next {
    right: 270px; 
  }
}


@media (max-width: 740px) {
  .services {
    padding: 40px 0;
  }

  .services__title {
    font-size: 16px;
    line-height: 20px;
  }
  
  .services__paragraph {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }

   .services__card {
    width: 300px;
    height: 370px;
  }

  .services__card-content {
    max-width: 220px;
  }

  .services__card-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  .services .owl-carousel-container {
    max-width: 500px;
    padding: 0 19px;
}

  .services .owl-prev {
    left: -40px; 
  }
    
  .services .owl-next {
    right: 120px; 
  }

  .services__card-hidden {
    gap: 12px;
  }

  .services__card-hidden-title {
    display: none;
  }

  .services__card-hidden-text {
    font-size: 12px;
    line-height: 12px;
  }
}


@media (max-width: 540px) {
  .services .owl-carousel-container {
    max-width: 320px;
    padding: 0 19px;
  }

  .services__card {
    width: 238px;
    height: 295px;
  }

  .services__card-content {
    bottom: 20px;
    left: 20px;
    max-width: 200px;
  }

  .services__card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
    
  .services__card-paragraph {
    font-size: 14px;
  }

  .services__card-hidden {
    gap: 12px;
    padding: 20px;
  }

  .services__card-hidden-title {
    font-size: 24px;
    line-height: 24px;
  }
    
  .services__card-hidden-text {
    font-size: 14px;
    max-width: 200px;
  }

  .services .owl-prev {
    left: -40px; 
  }
    
  .services .owl-next {
    right: 5px; 
  }  
}