.personal-data {
    padding-bottom: 60px;
}

.personal-data__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;
    padding-bottom: 8px;
}

.personal-data__links {
    display: flex;
    gap: 6px;
}

.personal-data__links a, .personal-data__links p, .personal-data__links span {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-dark);
    opacity: 60%;
}

.personal-data__links a:hover {
    color: var(--accent);
    opacity: 100%;
}

.personal-data__text {
    font-size: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.personal-data__text--block ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.personal-data__text--block ul li::before {
    content: "— "; 
    color: var(--color-dark);
    opacity: 0.6; 
}

.personal-data__text--block ul li {
    line-height: 1.5;
}


/* Адаптация */
@media (min-width: 1725px) {
    .personal-data__title {
        font-size: 54px;
        padding-bottom: 16px;
    }

    .personal-data__links {
        gap: 8px;
    }

    .personal-data__links a, .personal-data__links p, .personal-data__links span {
        font-size: 24px;
    }

    .personal-data__text {
        font-size: 24px;
        padding-top: 40px;
        gap: 32px;
    }
}


@media (max-width: 1100px) {
    .personal-data__title {
        font-size: 36px;
        line-height: 36px;
    }
}


@media (max-width: 900px) {
    .personal-data {
        padding-bottom: 48px;
    }

    .personal-data__title {
        font-size: 32px;
        line-height: 32px;
        padding-bottom: 8px;
    }

    .personal-data__text {
        padding-top: 24px;
    }
}


@media (max-width: 740px) {
    .personal-data {
        padding-bottom: 32px;
    }

    .personal-data__title {
        font-size: 24px;
        line-height: 24px;
    }

    .personal-data__text {
        padding-top: 16px;
        font-size: 14px;
        gap: 12px;
    }

    .personal-data__links a, .ppersonal-data__links p, .ppersonal-data__links span {
        font-size: 14px;
    }
}


@media (max-width: 540px) {
    .personal-data__title {
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 6px;
    }

    .personal-data__text {
        padding-top: 12px;
        font-size: 12px;
        gap: 12px;
    }

    .personal-data__links a, .personal-data__links p, .personal-data__links span {
        font-size: 12px;
    }
}